*{transition: all 2s;}

        
b {
color: purple;
font-weight: 100;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;



   }        

i{ 

color:  red;

}
body{ background: lightblue;
height: 2000px;

}
div { 
    position: fixed;
color: green;
font-weight: bold;
font-size: 20px;
text-decoration: underline;
letter-spacing: 5px;
margin: 10px;
border: 1px dashed pink;
padding: 10px;
text-shadow: 1px 1p black;

}
